
.header{
	background-color: #00000060;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.main{
	background-image: url('../images/background.png');
	position: relative;
	height: 100vh;
	padding-left: 1%;
}
//Top Nav Bar
.top-bar{
	padding-top: 0;
}
//Top Left Nav Bar
.top-bar-left a{
	padding-top: 0;
	max-height: 65px;
}
.top-bar-left img{
	max-height: 65px;
	width: auto;
}

//Top Right Nav Bar
.top-bar-right{
	padding-top:.5rem;
}
.top-bar-right ul{
	float: left;
}
.top-bar-right a{
	font-weight: bold;
	color: white;
}

.hero-y-container{
	height: 80vh;
}

.pattern-container{
	background-image: url('../images/wahaya-heropattern.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	width: 84vh;
	height: 109vh;
	z-index: 1;
}
.search-button{
	background-image: url('../images/search-icon.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 5px;
}
.solutions-button{
	background-image: url('../images/dropdown-arrow.png');
	background-repeat: no-repeat;
	background-position: 87% 55%;
	background-size: 10%;
}
.solutions-button a{
	padding-right: 1.6rem !important;
}

body{

	background-repeat: no-repeat;

}
.top-bar, .top-bar ul{
	background-color: #00000000;
}

.hero-banner{
	font-size: 4rem;
	font-family: BrandonGrotesque-Black;
	color: #098cbf;
	line-height: 7rem;
	z-index: 2;
}

.hero-subtext{
	font-size: 1.4rem;
	color: white;
	padding-right: 2%;
	z-index: 2;
}
.grid-margin-y{
	margin-top: 4%;
}
.grid-margin-x{
	margin-left: 2.5%;
}
.grid-margin-button-y{
	margin-top: 2%;
}
.button-offset{
	margin-left: 4%;
}
.homepage-button button{
	font-size: 1.6rem;
	padding: .75rem;
	border-radius: 5px;
	width: 100%;
	color: white;
	background-color: #098cbf; 
	border: 1px solid #2e2e2e;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.homepage-button button:hover{
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.services{
	width: 100%;
	padding-bottom: 70px;
	padding-top: 100px;
	background: #f1f1f1;
}
.services-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 100px;
	padding-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}
.services-row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
}
.services-banner{
	-webkit-box-flex: 0;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	display: block;
	margin-left: 16.6666667%;
}
.services-title{
	text-align: center;
	margin-bottom: 50px;
	box-sizing: border-box;
	display: block;
}
.services-title h2{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 36px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0px;
	text-align:center;
}
.services-title .services-icon{
	margin: 15px 0 px 18px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
}
.services-title .services-icon:before{
	content: '';
	position: absolute;
	left: calc(50% - 100px);
	bottom: 15px;
	height: 3px;
	width: 100px;
	background: #098cbf;
	z-index: -1;
	box-sizing: border-box;
}
.services-title .services-icon:after{
	content: '';
	position: absolute;
	right: calc(50% - 100px);
	bottom: 15px;
	height: 3px;
	width: 100px;
	background: #098cbf;
	z-index: -1;
	box-sizing: border-box;
}
.services-title .services-icon img{
	background-color: #fff;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}
.services-title p{
	color: #333333;
	max-width: 100%;
	width: 450px;
	margin: auto;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 28px;
	box-sizing: border-box;
}

.service-box{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	margin: 0;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	color: #888;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;

}
.service{
	background: #f1f1f1;
	text-align: center;
	padding: 30px 20px;
	margin-bottom: 30px;
	box-sizing: border-box;
	color: #888;
}
.single-service-icon{
	color: #098cbf;
	margin-bottom: 22px;
	box-sizing: border-box;
	padding: 0;
}
.single-service-icon span:before{
	font-size: 44px;
	margin-left: 0;
}
.flaticon-managed:before{
	content: "\f103";
}
.flaticon-disaster:before{
	content: "\f104";
}
.flaticon-virtualization:before{
	content: "\f101";
}
.flaticon-security:before{
	content: "\f106";
}
.flaticon-communications:before{
	content: "\f105";
}
.flaticon-hands:before{
	content: "\f102";
}
.service h2{
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 0;
	position: relative;
	margin-bottom: 22px;
	padding-bottom: 8px;
}
.service h2:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	background-color: #098cbf;
	height: 2px;
	width: 50px;
	transform: translate(-50%);
	box-sizing: border-box;
}
.service p{
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 28px;
	color: #333333;
	margin: 0;
	box-sizing: border-box;
}
.service:hover{
	background-image: -webkit-linear-gradient(180deg, rgb(108,206,253) 0%, #098cbf 100%, #098cbf 100%, #098cbf 100%);
	box-shadow: 0px 5.1px 0.9px rgba(102, 102, 102, 0.15);
}
.service:hover .single-service-icon, .service:hover h2, .service:hover p{
	color: #fff;
}
.service:hover h2:before{
	background-color: #fff;
}
.mission-box{
	margin-bottom: 2%;
}

.testimonial-container{
	background: #098cbf;
	width: 100%;
	padding: 100px 0;
	box-sizing: border-box;
}
.inner-test-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}

.testimonial-box{
	width: 100%;
}
.test-inner-box{
	position: relative;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;
}
.testimonial-logo{
	margin: 46px auto 20px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 30px;
	background: white;
	border-radius: 50%;
}
.testimonial-logo:before{
	content: '';
	position: absolute;
	left: -3px;
	top: -3px;
	height: calc(100% + 6px);
	width: calc(100% + 6px);
	border: 1px solid #fff;
	border-radius: 50%;
}
.testimonial-logo img{
	max-width: 120px;
	height: 120px;
	overflow: hidden;
	margin: auto;
}
.test-inner-box p{
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	line-heigth: 32px;
	width: 717px;
	max-width: 100%;
	margin: auto;
	letter-spacing: 0;
}
.test-inner-box h4{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 27px;
	margin: 0;
}
.test-inner-box span{
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 9;
	line-height: 20px;
}


.blog-promoted{
	background-color: #f1f1f1;
	width: 100%;
	padding: 100px 0;
	box-sizing: border-box;
}
.post-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}
.post-carousel{
	width: 80%;
	height: 75%;
	margin: 6% auto;
}
.post-container-title{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
}
.post-inner-title{
	position: relative;
	width: 100%;
	min-heigth: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.post-title-box{
	text-align: center;
	margin-bottom: 50px;
	box-sizing: border-box;
}
.post-title-box h2{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 36px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0;
}
.post-title-box span{
	color: #098cbf;
}
.post-title-box p{
	color: #333333;
	max-width: 100%;
	width: 450px;
	margin: auto;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
}
.post-title-box .services-icon{
	margin: 15px 0 px 18px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
}
.post-title-box .services-icon:before{
	content: '';
	position: absolute;
	left: calc(50% - 100px);
	bottom: 15px;
	height: 3px;
	width: 100px;
	background: #098cbf;
	z-index: -1;
	box-sizing: border-box;
}
.post-title-box .services-icon:after{
	content: '';
	position: absolute;
	right: calc(50% - 100px);
	bottom: 15px;
	height: 3px;
	width: 100px;
	background: #098cbf;
	z-index: -1;
	box-sizing: border-box;
}
.post-title-box .services-icon img{
	background-color: #fff;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}



.post-card{
	border: 2px solid white;
	box-sizing: border-box;
	display: block;
	background-color: #484848EE;
	position: relative;
}
.post-thumbnail{
	height: 40% !important;
	width: 100%;
	margin-bottom: 5%;
	overflow: hidden;
}

.post-content img{
	width: 90%;
}
.featured-post-title{
	height: auto !important;
	color: #098cbf;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}
.slick-list{
	height: 100%;
}
.slick-track{
	height: 100%;
}
.post-content{
	height: 50% !important;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.post-card img{
	height: auto;
	margin: 0 auto;
	width: 100%;
	object-fit: cover;
	
}
.outer-card{
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.slick-slide div{
	height: 100%;
}

.read-more-featured{
	position: absolute;
	
	bottom: 5px;
	right: 7.5px;
	height: auto !important;
}
.read-more-featured > a{
	position: relative;
	text-decoration: none;
}
.read-more-featured > a:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	let: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.read-more-featured > a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#menu-footermenu{
	justify-content: flex-end;
}
.footer{
	background-color: #353535;
	margin-top: 0;
	padding-top: 1em;
}
.copyright{
	color: #098cbf;
}
@media only screen and (min-width:40em) {
	.main{
		padding-left: 4%;
	}
	.hero-banner{
		font-size: 6rem;
		min-width:800px;
	}
	.pattern-container{
		min-width: 600px;
	}

}
@media only screen and(min-width:57em){
	.main{
		padding-left: 10%;
	}
	.hero-banner{
		font-size: 8rem;
	}
	.hero-subtext{
		min-width: 800px;
	}
	.services-banner{
		font-size: 1.4rem !important;
	}

}

@media only screen and(min-width:85em){
	.services-banner{
		width: 70%;
	}
	.services-box{
		width: 80% !important;
	}

}



@media (min-width: 576px){
	.services-container, .inner-test-container, .post-container{
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.post-inner-title{
		margin-left: 16.666666%;
		-webkit-box-flex: 0;
		flex: 0 0 66.6666666%;
		max-width: 66.666666%;
	}
	.service-box{
		-webkit-flex-box: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.services-container, .inner-test-container, .post-container{
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.service-box{
		-webkit-flex-box: 0;
		-ms-flex-box: 0 0 33.33333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.services-container, .inner-test-container, .post-container{
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.services-container, .inner-test-container, .post-container{
		max-width: 1140px;
	}
}